@model eCommerce.Models.ViewModels.LoaiDauGiaViewModel

@{
    ViewBag.Title = "SuaLoaiDauGia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal detail-info-view">
        <h2>SỬA THÔNG TIN LOẠI ĐẤU GIÁ</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLoai)

        <div class="form-group">
            @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label" })
            <div class="">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TrangThai)
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="bottom-function-button">
            <button id="btn-save" type="submit" name="submit" value="Luu" onclick="alert('Sửa thông tin thành công.')">Sửa</button>
            <button id="btn-back" type="submit" name="submit" value="QuayLai">Quay lại</button>
        </div>
    </div>
}
