@using PagedList;
@using PagedList.Mvc;

@model IPagedList<eCommerce.Models.ViewModels.NguoiDungViewModel>

@{
    ViewBag.Title = "DanhSachCapQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="header-list-view">CẤP QUYỀN ĐĂNG ĐẤU GIÁ</h2>
<div>
    @using (Html.BeginForm("DanhSachCapQuyen", "ManageUser", FormMethod.Get))
    {
        <div class="row search-for">
            <span style="font-size: 1.4rem; font-weight: 500;">Tìm kiếm theo: </span>
            <input type="radio" id="html" name="loaiTimKiem" value="MaNguoiDung" style="margin-left: 50px;">
            <label for="html" style="font-size: 1.4rem; font-weight: 500; margin-bottom: 0; margin-left: 10px; ">Mã người dùng</label>
            <input type="radio" id="html1" name="loaiTimKiem" value="TenNguoiDung" style="margin-left: 50px;">
            <label for="html1" style="font-size: 1.4rem; font-weight: 500; margin-bottom: 0; margin-left: 10px; ">Tên người dùng</label>
        </div>
        <div class="my-3 search-manage-user">
            <input type="text" class="form-control" placeholder="Nhập từ khóa để tìm kiếm" name="tenTimKiem">
            <button class="btn btn-search" type="submit" name="submit" value="btnTimKiem">
                <i class="fas fa-search"></i>
            </button>

            <button class="btn btn-redo" onclick="location.href='@Url.Action("DanhSachCapQuyen", "ManageUser")'">
                <i class="fas fa-redo"></i>
            </button>
        </div>
    }
</div>
@Html.Partial("_Notifications")
@using (Html.BeginForm("CapQuyenTheoDanhSach", "ManageUser", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr class="table-title">
            <th>
                <input type="checkbox" value="" id="CheckDefault">
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Mã người dùng</p>
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Tên người dùng</p>
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Email</p>
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Số CMND</p>
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Số điện thoại</p>
            </th>
            <th>
                <p style="font-size: 1.3rem; margin-bottom: 0rem;">Ngày đăng kí</p>
            </th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { @class = "checkItem" })</td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].MaNguoiDung)
                    @Html.HiddenFor(modelItem => Model[i].MaNguoiDung)
                </td>
                <td>
                    <a href="/Admin/ManageUser/ChiTietYeuCau?id=@Model[i].MaNguoiDung"> @Html.DisplayFor(modelItem => Model[i].HoTen)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].SoCMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].SDT)
                </td>
                <td>
                    @Html.FormatValue("MM-dd-yyyy", Model[i].NgayDangKy.ToString("MM-dd-yyyy"))
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model,
          page => Url.Action("DanhSachCapQuyen", new { page, loaiTimKiem = Request.QueryString["loaiTimKiem"], tenTimKiem = Request.QueryString["tenTimKiem"] }),
          new PagedListRenderOptions()
          {
              Display = PagedListDisplayMode.IfNeeded,
              DisplayPageCountAndCurrentLocation = true,

          })
    <div style="display:flex; margin-left: 12px;">
        <button id="btn-save" type="submit" name="Duyet">Duyệt</button>
        <a id="btn-back" href="/Admin/ManageUser/DanhSachNguoiDung?page=@TempData["page"]&loaiTimKiem=@TempData["loaiTimKiem"]&tenTimKiem=@TempData["tenTimKiem"]">Quay lại</a>
    </div>
}
