@model IEnumerable<eCommerce.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
  <div class="manage-user">
    <h2 style="text-align: center; text-transform: capitalize; letter-spacing: 1px; font-size: 3rem; margin: 3rem;">quản lý người dùng</h2>

    <table class="table">
      <tr class="table-title">
        <th>
          <input class="form-check-input" type="checkbox" value="" id="CheckDefault">
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Mã người dùng</p>
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Tên người dùng</p>
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Email</p>
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Ngày đăng ký</p>
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Đăng đấu giá</p>
        </th>
        <th>
          <p style="font-size: 1.3rem; margin-bottom: 0rem;">Chức năng</p>
        </th>
      </tr>
    </table>
    <div style="display: flex; justify-content: center; position: absolute; bottom: 5%; left: 4%; ">
      <button id="bth-manage">Vô hiệu hóa</button>
      <button id="bth-manage">Xóa quyền đăng đấu giá</button>
      <button id="bth-manage">Khôi phục mật khẩu</button>
      <button id="bth-manage">Cấp quyền đăng đấu giá</button>
    </div>
  </div>
 </div>

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoCMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDangKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDuVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRequesting)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}*@

