@model eCommerce.Areas.User.Models.DauGiaViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "DauGia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DauGiaViewModel</h4>
        <hr />
        @Html.HiddenFor(model => model.MaDauGia)
        @Html.HiddenFor(model => model.NguoiDung1)
        @Html.HiddenFor(model => model.NguoiDung)
        @Html.HiddenFor(model => model.GiaCuoi)
        @Html.HiddenFor(model => model.NgayThanhToan)
        @Html.HiddenFor(model => model.NgayDang)



        @Html.LabelFor(model => model.ListLoaiSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ListBoxFor(model => model.ListLoaiSanPham, (MultiSelectList)ViewBag.ListLoai, new { id = "dropdownLoai", multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.ListLoaiSanPham, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaBanDau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBanDau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaBanDau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MucNangToiThieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MucNangToiThieu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MucNangToiThieu, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.NgayBatDau, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViTri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViTri, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
            </div>
        </div>
        @* @foreach (var item in Model.Hinh)
            {
                <img id="hinh" src="@item" />
            }*@
        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label" })

            <div>
                <input type="file" id="file" name="ImageFile" multiple="true" accept="image/*" size="40">
                @*<div class="upload-image">
                        <i class="fas fa-cloud-upload-alt"></i>
                        <label for="file">Hình ảnh</label>
                    </div>*@
            </div>
            @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")

</div>
@section Scripts {
    @*    @Scripts.Render("~/bundles/jqueryval")
    *@
    <script>
        $(function () {
            $("#dropdownLoai").chosen();
        });

    </script>
}