@using PagedList;
@using PagedList.Mvc;
@using eCommerce.Models;
@model IPagedList<eCommerce.Areas.User.Models.DauGiaViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .inner-body-title, .inner-body-content {
        text-align: center;
    }

    h1.function-page-title {
        font-size: 2.2rem;
        font-weight: 400;
        color: black;
        text-align: center;
        padding: 1.5rem 0;
        background: #84CEEB;
        font-weight: bold;
    }

    .list-detail {
        margin-left: 10%;
    }

    p {
        padding: 2px;
        font-weight: bold;
        font-size: 14px;
    }

    .list-employee > h1 {
        font-size: 2.2rem;
        font-weight: 400;
        background-color: white;
        text-align: center;
        padding: 1.5rem 0;
        background: linear-gradient(to bottom, #71f3f9, #2193d6);
    }

    table.table {
        text-align: center;
    }

    .table-title {
        background-color: #C1C8E4;
        color: black;
    }
</style>

<h1 class="function-page-title">DANH SÁCH ĐĂNG SẢN PHẨM ĐẤU GIÁ</h1>
<div class="list-employee">
    <div class="list-detail">
        @using (Html.BeginForm("Index", "DauGia", FormMethod.Get))
        {
        <form class="form-auction">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputEmail4">Tìm kiếm sản phẩm</label>
                    <input type="text" class="form-control" id="inputEmail4" name="ten" placeholder="Nhập tên sản phẩm...">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputState">Loại sản phẩm</label>
                    @Html.DropDownList("loai", (SelectList)ViewBag.ListLoai, new { id = "loai", @class = "form-control" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputAddress">Mức giá</label>
                    <input type="text" class="form-control" id="inputAddress" name="gia" placeholder="Nhập giá tối thiểu ban đầu">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputAddress2">Thời gian bắt đầu</label>
                    <input type="datetime-local" class="form-control" id="inputAddress2" name="startdate">
                </div>
            </div>
            <button class="btn btn-search btn-info ml-3" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
            <a href='@Url.Action("DauGia", "Index")' class="btn btn-reload btn-danger ml-3" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
        </form>
        }
    </div>

    @Html.Partial("_Notifications")
    <br />
    <div class="row">
        <a href='@Url.Action("Add", "DauGia")' class="btn add-employee"><i class="fas fa-plus"></i> Thêm sản phẩm</a>
    </div>

    <table class="table">
        <tr class="table-title">
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.TenSanPham)*@ Hình ảnh
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.TenSanPham)*@ Tên sản phẩm
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.TenSanPham)*@ Mô tả sản phẩm
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.GiaBanDau)*@ Giá khởi điểm
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.MucNangToiThieu)*@ Mức nâng tối thiểu
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.NgayBatDau)*@ Ngày bắt đầu
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.NgayKetThuc)*@ Ngày kết thúc
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.ViTri)*@ Vị trí
            </th>
            <th class="inner-body-title">
                @*@Html.DisplayNameFor(model => model.NgayDang)*@ Ngày đăng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        DauGiaEntities db = new DauGiaEntities();
                        var Hinh = db.HinhAnhs.Where(m => m.MaDauGia == item.MaDauGia).ToArray();
                        if (Hinh.Length > 0)
                        {

                            <img src="@Url.Content(Hinh[0].LinkAnh)" style="width:200px;height:230px"/>

                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBanDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MucNangToiThieu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NgayBatDau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKetThuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViTri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
                <td>

                    <a href='@Url.Action("Edit","DauGia", new { id = item.MaDauGia })' class="btn btn-delete_employeemr-2" style="color:black;background-color:aqua"><i class="fas fa-edit"></i> Chỉnh sửa </a> |
                    <a href='@Url.Action("Detail","DauGia", new { id = item.MaDauGia })' class="btn btn-delete_employeemr-2" style="color:black;background-color:antiquewhite"><i class="fas fa-info-circle"></i> Chi tiết </a>
                    @using (Html.BeginForm("Delete", "DauGia", FormMethod.Post))
                    {

                        var tt = db.TrangThaiDauGias.Where(m => m.TenTrangThai == "UnActive").SingleOrDefault();
                        var trangthai = db.CT_TrangThai.Where(m => m.MaTrangThai == tt.MaTrangThai && m.MaDauGia == item.MaDauGia).SingleOrDefault();
                        if (DateTime.Now > item.NgayBatDau.AddDays(2) && trangthai == null)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaDauGia })

                            <button type="submit" name="submit" value="@item.MaDauGia" class="btn btn-delete_employeemr-2" onclick="return confirm('Bạn chắc chắn xóa chứ?')"><i class="fas fa-user-minus"></i> Xóa sản phẩm</button>
                        }


                    }
                </td>
            </tr>

        }
        @Html.PagedListPager(Model,
                page => Url.Action("Index", new { page, ten = Request.QueryString["ten"], loai = Request.QueryString["loai"], gia = Request.QueryString["gia"], startdate = Request.QueryString["startdate"] }),
                new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayPageCountAndCurrentLocation = true,

                })

    </table>
