@model eCommerce.Areas.User.Models.ViewModel
@using eCommerce.Models;
@{
    ViewBag.Title = "Đấu giá";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";}

<h2>Bid</h2>


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DauGia.MaDauGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.MaDauGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DauGia.MaNguoiBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.MaNguoiBan)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.DauGia.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DauGia.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DauGia.GiaBanDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.GiaBanDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DauGia.MucNangToiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.MucNangToiThieu)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DauGia.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DauGia.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DauGia.NgayKetThuc)
        </dd>


    </dl>
    @foreach (var item in Model.ListLoaiSanPham)
    {
        @Html.DisplayFor(model => item.TenLoai)
        <p></p>
    }
    @foreach (var item in Model.Hinh)
    {
        <img src=@item />
    }
</div>

<p>
    @if (Model.YeuThich)
    {
        using (Html.BeginForm("UnFavorite", "Home", FormMethod.Post))
        {
            <input value="0" hidden="true" name="loai" />

            <button type="submit" name="id" value="@Model.DauGia.MaDauGia" class="btn btn-delete_employeemr-2"> Bỏ Yêu thích</button>

        }
    }
    else
    {
        using (Html.BeginForm("Favorite", "Home", FormMethod.Post))
        {
            <input value="0" hidden="true" name="loai" />

            <button type="submit" name="id" value="@Model.DauGia.MaDauGia" class="btn btn-delete_employeemr-2"> Yêu thích</button>

        }
    }
    @Html.ActionLink("Back to List", "Home")
</p>
<p>
    @{
        DauGiaEntities db = new DauGiaEntities();
        var mucnang = db.MucNangs.Where(m => m.MaDauGia == Model.DauGia.MaDauGia).Count();
        if (mucnang > 0)
        {
            TempData["value"] = db.MucNangs.Where(m => m.MaDauGia == Model.DauGia.MaDauGia).Max(m => m.GiaTri);
        }
        else
        {
            TempData["value"] = Model.DauGia.GiaBanDau;

        }

    }


    @using (Html.BeginForm("Bid_1", "Home", FormMethod.Post))
    {
        <input name="bid" id="bid" hidden="true" value="@TempData["value"]" />
        <input name="id" hidden="true" value="@Model.DauGia.MaDauGia" />
        <input id="bid_1" disabled="true" value="@TempData["value"]" />
        <input type="submit" value="Ra giá" class="btn btn-default" />
    }
    <input id="time" hidden="true" value="@Model.DauGia.NgayKetThuc.ToString("MM/dd/yyyy HH:mm")" />
    <button id="plus">+</button>
    <button id="minus">-</button>
    @Html.Partial("_Notifications")
    @{
        var a = db.MucNangs.Where(m => m.MaDauGia == Model.DauGia.MaDauGia).ToList();
        foreach (var item in a)
        {
            var nd = db.NguoiDungs.Where(m => m.MaNguoiDung == item.MaNguoiDung).SingleOrDefault();
        <p>@nd.HoTen - @item.GiaTri đ</p>
    }
    }
    @section scripts {
        <script>

            $("#plus").click(function () {
                $("#bid").val(function () {
                    return parseInt(this.value, 10) + @Model.DauGia.MucNangToiThieu;

                });
                $("#bid_1").val(function () {
                    return parseInt(this.value, 10) + @Model.DauGia.MucNangToiThieu});
            });
            $("#minus").click(function () {
                $("#bid").val(function () {
                    return parseInt(this.value, 10) - @Model.DauGia.MucNangToiThieu;

                });
                $("#bid_1").val(function () {
                    return parseInt(this.value, 10) - @Model.DauGia.MucNangToiThieu});
            });
        </script>
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script>
                /**/

                var a = $("#time").val().ToString("MM/dd/yyyy HH:mm");
                var countDownDate = new Date($("#time").val()).getTime();

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                    }
                }, 1000);
            </script>*@



    }
    
