@model eCommerce.Areas.User.Models.NguoiDungViewModel
@using eCommerce.Models;
@{
  ViewBag.Title = "Index";
  Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";

}

<section class="body-content">

  <div style="width: 80%; height: 520px; margin: auto; background-color: rgb(214 213 243 / 96%); border-radius: 20px; margin-top: 3%; box-shadow: -1.04px 4.891px 20px 0px rgb(69 49 183 / 50%); ">
    <h1 class="function-page-title">THÔNG TIN CÁ NHÂN</h1>

    <div class="info-list">
      <div class="info-list-img">
        <img src="@Url.Content(Model.HinhAnh)" alt="Hình ảnh người dùng" />
      </div>
      <div class="info-list-item">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Mã người dùng: </label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="@Html.DisplayFor(model => model.MaNguoiDung)">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Họ tên: </label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="@Html.DisplayFor(model => model.HoTen)">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Ngày sinh: </label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="@Html.DisplayFor(model => model.NgaySinh)">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Số CMND/CCCD: </label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="@Html.DisplayFor(model => model.SoCMND)">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email: </label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="@Html.DisplayFor(model => model.Email)">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Số điện thoại: </label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="@Html.DisplayFor(model => model.SDT)">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Địa chỉ: </label>
            <input type="text" class="form-control" id="inputAddress" placeholder="@Html.DisplayFor(model => model.DiaChi)">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Số dư trong ví: </label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="@Html.DisplayFor(model => model.SoDuVi)">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Ngày đăng ký: </label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="@Html.DisplayFor(model => model.NgayDangKy)">
            </div>
          </div>
        </form>

        <div class="edit-form">
          @using (Html.BeginForm("Request", "DetailsUser", FormMethod.Post))
          {

            if (Model.IsApproved || Model.IsRequesting)
            {

            }
            else
            {
              <button type="submit" name="submit" value="@Model.MaNguoiDung" style="background-color:aqua;font-weight:bold" class="btn btn-delete_employeemr-2" onclick="return confirm('Bạn chắc chắn chứ?')">Gửi yêu cầu nâng cấp tài khoản</button>

            }
          }
          <a href='@Url.Action("DoiMatKhau","DetailsUser")' class="btn btn-reload change-pass"><i class="fas fa-exchange-alt"></i> ĐỔI MẬT KHẨU </a>
          <a href='@Url.Action("Edit","DetailsUser", new { id = Model.MaNguoiDung})' class="btn edit-user"><i class="fas fa-edit"></i> CHỈNH SỬA </a>
        </div>


      </div>
    </div>
  </div>
</section>


